@font-face {
    font-family: 'BITSUMIS';
    src: url(../font/bitsumishi/BITSUMIS.TTF);
}
*{
    font-family: 'BITSUMIS';
}
body{
    background-color: rgb(149, 255, 255);
}
#logo {
    transition: 2s ease;
    width: 400px;
}
#logo:hover {
    transform: rotate(360deg) scale(1.2);
}
#Foto{
    width: 425px;
    animation: foto 5s 1;
}
#sobre{
    margin-top: 90px;
}
@keyframes foto {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#contacto{
    margin-top: 150px;
}
img{
    width: 15px;
}